/******************** less *****************/
/******************** @ *****************/
@font-face {
  font-family: 'Roboto';
  src: url('../font/roboto.woff2') format('woff2'), url('../font/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/robotobold.woff2') format('woff2'), url('../font/robotobold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/robotomedium.woff2') format('woff2'), url('../font/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
/************* global styles ************/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
/************* global classes **********/
.g-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.g-centerer {
  width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
/***************** uni blocks **************/
.pop-up {
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 75px 100px;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  z-index: 1001;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  transform: scale(0);
}
.pop-up__close {
  position: absolute;
  top: 78px;
  right: 111px;
  border-radius: 0;
  border: none;
  background-color: transparent;
  width: 21px;
  height: 21px;
  padding: 0;
  opacity: 0.3;
}
.pop-up__close::before,
.pop-up__close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  height: 25px;
  width: 4px;
  background-color: #fb565a;
  border-radius: 2px;
}
.pop-up__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.pop-up__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.pop-up__close:hover,
.pop-up__close:focus {
  opacity: 1;
  outline: none;
}
.pop-up__close:active {
  opacity: 0.1;
}
.pop-up__content {
  width: 760px;
}
.multirange {
  position: relative;
  border-radius: 3px;
  background-color: #eee;
  height: 80px;
  padding: 39px 21px;
}
.multirange__control {
  position: absolute;
  left: 18px;
  top: 29px;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.multirange__control--right {
  left: 160px;
}
.multirange__control:hover,
.multirange__control:focus {
  box-shadow: 0 0 0 1px #fff, 0 5px 5px 0 rgba(0, 0, 0, 0.3);
  border-width: 7px;
  outline: none;
}
.multirange__range {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #00ca74;
}
.multirange::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #d7dcde;
  margin-bottom: -2px;
}
.multirange-inputs {
  display: flex;
  justify-content: space-between;
}
.multirange-inputs__field-item {
  margin: 0;
}
.multirange-inputs__field-label {
  text-transform: uppercase;
  margin-right: 8px;
}
.multirange-inputs__num-field {
  width: 80px;
  border: none;
  background-color: #eee;
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  padding: 8px;
  text-align: center;
}
.multirange-inputs__num-field:hover,
.multirange-inputs__num-field:focus {
  background-color: #dfdfdf;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #eee;
  line-height: 50px;
  padding: 0 40px;
  border-radius: 3px;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  border: none;
  font-weight: 500;
}
.btn:hover,
.btn:focus {
  outline: none;
  background-color: #dfdfdf;
}
.btn:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}
.btn--stretch {
  display: block;
  width: 100%;
}
.btn--color {
  color: #fff;
}
.btn--color:active {
  color: rgba(255, 255, 255, 0.3);
}
.btn--color--red {
  background-color: #fb565a;
}
.btn--color--red:hover,
.btn--color--red:focus {
  background-color: #e74246;
}
.btn--color--red:active {
  background-color: #d7373b;
}
.btn--color--green {
  background-color: #00ca74;
}
.btn--color--green:hover,
.btn--color--green:focus {
  background-color: #00bc6c;
}
.btn--color--green:active {
  background-color: #00aa62;
}
.btn--color--yellow {
  background-color: #efc84a;
}
.btn--color--yellow:hover,
.btn--color--yellow:focus {
  background-color: #eab534;
}
.btn--color--yellow:active {
  background-color: #e5a722;
}
.field {
  border: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  height: 50px;
  padding: 14px;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #000;
  resize: none;
}
.field:hover {
  border-color: #b4b9bb;
  color: #000;
}
.field:focus {
  border-color: #000;
  color: #000;
  outline: none;
}
.field--invalid {
  border-color: #e74246;
  color: #e74246;
}
.radio {
  display: inline-block;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #283136;
}
.radio__field {
  display: none;
}
.radio__field:checked + .radio__text::before {
  background-image: url(../img/radio-on.svg);
}
.radio__field:disabled + .radio__text {
  opacity: 0.2;
}
.radio__field:disabled + .radio__text::before {
  opacity: 0.2;
}
.radio__text {
  display: block;
  padding-left: 36px;
  position: relative;
}
.radio__text::before {
  content: "";
  display: block;
  width: 27px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/radio-off.svg) left center no-repeat;
  opacity: 0.5;
}
.radio__text:hover::before {
  opacity: 1;
}
.checkbox {
  display: inline-block;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #283136;
}
.checkbox__field {
  display: none;
}
.checkbox__field:checked + .checkbox__text::before {
  background-image: url(../img/checkbox-on.svg);
}
.checkbox__field:disabled + .checkbox__text {
  opacity: 0.2;
}
.checkbox__field:disabled + .checkbox__text::before {
  opacity: 0.2;
}
.checkbox__text {
  display: block;
  padding-left: 36px;
  position: relative;
}
.checkbox__text::before {
  content: "";
  display: block;
  width: 27px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/checkbox-off.svg) left center no-repeat;
  opacity: 0.5;
}
.checkbox__text:hover::before {
  opacity: 1;
}
/***************** blocks **************/
.main-header {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding-top: 49px;
  padding-bottom: 49px;
}
.main-header__nav {
  display: flex;
}
.main-header__logo {
  margin-right: auto;
  width: 160px;
  height: 65px;
}
.main-header__site-nav {
  display: flex;
  margin: ;
}
.main-header__user-nav {
  display: flex;
  margin-left: 245px;
}
.main-header__page-title {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  margin-top: 79px;
  margin-bottom: 58px;
}
.logo {
  display: block;
}
.logo--link {
  text-decoration: none;
}
.logo--link:hover,
.logo--link:focus {
  opacity: 0.8;
  outline: none;
}
.logo--link:active {
  opacity: 0.3;
}
.logo--link--active:hover,
.logo--link--active:focus,
.logo--link--active:active {
  opacity: 1;
}
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-family: Roboto, Tahoma, sans-serif;
}
.site-nav__item {
  padding: 0 23px;
}
.site-nav__item:first-child {
  padding-left: 0;
}
.site-nav__item:last-child {
  padding-right: 0;
}
.site-nav__link {
  display: block;
  height: 65px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 26px 0 8px 0;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  line-height: 30px;
}
.site-nav__link:hover,
.site-nav__link:focus {
  outline: none;
  color: #fb565a;
}
.site-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-nav__link--active {
  border-bottom: 2px solid #fb565a;
}
.site-nav__link--active:hover,
.site-nav__link--active:focus,
.site-nav__link--active:active {
  border-bottom: 2px solid #fb565a;
  color: #000;
}
.user-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-family: Roboto, Tahoma, sans-serif;
}
.user-nav__item {
  padding: 0 23px;
}
.user-nav__item:first-child {
  padding-left: 0;
}
.user-nav__item:last-child {
  padding-right: 0;
}
.user-nav__link {
  display: block;
  height: 65px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 26px 0 8px 0px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  line-height: 30px;
}
.user-nav__link:hover,
.user-nav__link:focus {
  outline: none;
  color: #fb565a;
}
.user-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-nav__link--icon {
  background-repeat: no-repeat;
  background-position: left 33px;
  padding-left: 41px;
}
.user-nav__link--icon--cart {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="#a6a6a6"><circle cx="4.5" cy="13.5" r="1.5"/><circle cx="12.5" cy="13.5" r="1.5"/><polygon points="15 2 4.1 2 3.6 0 0 0 0 2 2 2 4 11 15 11 15 9 9.4 9 15 7 "/></svg>');
}
.user-nav__link--active {
  border-bottom: 2px solid #fb565a;
}
.user-nav__link--active:hover,
.user-nav__link--active:focus,
.user-nav__link--active:active {
  border-bottom: 2px solid #fb565a;
  color: #000;
}
.main-slider {
  background-color: #eee;
  font-family: Roboto, Tahoma, sans-serif;
  margin-top: -49px;
}
.main-slider__centerer {
  position: relative;
}
.main-slider__controls {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 96px;
  left: 50%;
  margin-left: -44px;
}
.main-slider__control {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.main-slider__control:not(:last-child) {
  margin-right: 17px;
}
.main-slider__control:hover,
.main-slider__control:focus {
  box-shadow: inset 0 0 0 2px #c2c2c2;
  outline: none;
}
.main-slider__control--active::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #c2c2c2;
  margin-top: -4px;
  margin-left: -4px;
}
.main-slider__control--active:hover,
.main-slider__control--active:focus {
  box-shadow: none;
}
.main-slider__slides {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.main-slider__slide {
  display: none;
  min-height: 431px;
  padding-top: 78px;
  background-position: right 31px bottom;
  background-repeat: no-repeat;
}
.main-slider__slide--active {
  display: block;
}
.main-slider__slide-title {
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.main-slider__slide-text {
  max-width: 430px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
  margin-top: 0;
  margin-bottom: 39px;
}
.main-slider__slide--1 {
  background-image: url(../img/slide1.png);
}
.main-slider__slide--2 {
  background-image: url(../img/slide2.png);
}
.main-slider__slide--3 {
  background-image: url(../img/slide3.png);
}
.main-slider__slide-btn {
  min-width: 240px;
}
.main-content__main-slider {
  margin-bottom: 80px;
}
.main-content__services {
  margin-bottom: 40px;
}
.main-content__about {
  margin-bottom: 74px;
}
.main-content__clients {
  margin-bottom: 80px;
}
.services__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}
.service-card {
  flex-basis: 300px;
  font-family: Roboto, Tahoma, sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
  padding-top: 146px;
  background-repeat: no-repeat;
  background-position: center top;
}
.service-card--sites {
  background-image: url(../img/service-1.png);
}
.service-card--apps {
  background-image: url(../img/service-2.png);
}
.service-card--presentations {
  background-image: url(../img/service-3.png);
}
.service-card:not(:last-child) {
  margin-right: 100px;
}
.service-card__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 16px;
}
.service-card__text {
  width: 260px;
  margin-bottom: 32px;
}
.about {
  display: flex;
  font-family: Roboto, Tahoma, sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
}
.about__text {
  width: 680px;
}
.about__slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-top: 34px;
  margin-bottom: 33px;
}
.about__description {
  margin-bottom: 38px;
}
.about__list-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.about__services-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.about__service-item:not(:last-child) {
  margin-bottom: 24px;
}
.about__service-item {
  position: relative;
}
.about__service-item::before {
  content: "";
  background-color: #fb565a;
  display: inline-block;
  vertical-align: middle;
  height: 2px;
  width: 25px;
  margin-left: 1px;
  margin-right: 10px;
}
.about__statistic {
  width: 360px;
  margin-left: auto;
}
.statistic-nerds {
  font-family: Roboto, Tahoma, sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: normal;
}
.statistic-nerds__logo {
  margin-bottom: 35px;
}
.statistic-nerds__text {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}
.statistic-nerds__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}
.statistic-nerds__item {
  display: flex;
  flex-direction: column;
}
.statistic-nerds__item:not(:last-child) {
  margin-right: 23px;
}
.statistic-nerds__percent {
  display: block;
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 18px;
}
.statistic-nerds__percent-symbol {
  vertical-align: text-top;
  font-size: 25px;
}
.statistic-nerds__percent-name {
  line-height: 18px;
}
.clients__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  padding-top: 46px;
  padding-bottom: 38px;
}
.clients__item {
  width: 260px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clients__item:not(:nth-child(4n))::after {
  content: "";
  width: 2px;
  height: 52px;
  position: absolute;
  right: -21px;
  top: 50%;
  margin-top: -26px;
  background-color: #eee;
}
.clients__link {
  opacity: 0.2;
  display: block;
}
.clients__link:hover,
.clients__link:focus {
  opacity: 1;
  outline: none;
}
.clients__link:active {
  opacity: 0.1;
}
.clients__client-logo {
  display: block;
}
.contacts {
  overflow: hidden;
  height: 416px;
  position: relative;
}
.contacts__card {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-580px, -50%);
}
.contacts__map {
  width: 100%;
  min-width: 1200px;
  height: auto;
  transform: translateY(-25%);
}
.contacts-card {
  background-color: #fff;
  width: 319px;
  padding: 47px 51px;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}
.contacts-card__studios-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0px;
  margin-bottom: 25px;
}
.contacts-card__address {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 18px;
}
.contacts-card__phone {
  margin-bottom: 37px;
}
.social-info {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.social-info__text-wrapper {
  height: 78px;
}
.social-info__social {
  margin-right: 140px;
}
.social-info__text {
  margin: 0;
}
.social-info__text-accent {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 12px;
}
.social {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 13px;
}
.social__link {
  display: block;
  text-decoration: none;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  position: relative;
}
.social__link::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 78px;
  height: 78px;
  border-radius: 50%;
}
.social__link:hover,
.social__link:focus {
  background-color: #e74246;
  outline: none;
}
.social__link:active {
  background-color: #d7373b;
}
.social__link:active::before {
  opacity: 0.3;
}
.social__link--vk::before {
  background-image: url(../img/vk-icon.svg);
}
.social__link--fb::before {
  background-image: url(../img/fb-icon.svg);
}
.social__link--in::before {
  background-image: url(../img/insta-icon.svg);
}
.write-us__title {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 40px;
}
.write-us__form-row {
  display: flex;
}
.write-us__field-item {
  flex-basis: 150px;
  flex-grow: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.write-us__field-item:first-child {
  margin-right: 40px;
}
.write-us__field-title {
  margin-bottom: 10px;
}
.write-us__message-field {
  margin-bottom: 12px;
  height: 118px;
}
.write-us__btn {
  min-width: 260px;
}
.catalog {
  display: flex;
  padding-top: 52px;
}
.catalog__filter {
  width: 260px;
  margin-right: 140px;
}
.catalog__products {
  flex-grow: 1;
}
.filter {
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  flex-shrink: 0;
}
.filter__price-multirange {
  margin-bottom: 13px;
}
.filter__price-multirange .multirange__control--right {
  left: 160px;
}
.filter__price-multirange .multirange__range {
  width: 70%;
}
.filter__form-group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 53px;
}
.filter__form-group--grid {
  margin-bottom: 26px;
}
.filter__form-group--features {
  margin-bottom: 31px;
}
.filter__form-group-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  margin-bottom: 15px;
}
.filter__form-group-title--price {
  letter-spacing: 0.05em;
  margin-bottom: 52px;
}
.filter__radio {
  margin-bottom: 15px;
}
.filter__checkbox {
  margin-bottom: 15px;
}
.sorting {
  display: flex;
  align-items: baseline;
  font-family: Roboto, Tahoma, sans-serif;
  text-transform: uppercase;
  margin-bottom: 51px;
}
.sorting__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-right: auto;
  width: 360px;
  margin-right: 40px;
}
.sorting__list-type {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}
.sorting__item-type {
  margin-right: 26px;
}
.sorting__list-direction {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
  align-self: center;
}
.sorting__link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  opacity: 0.3;
  border-color: rgba(0, 0, 0, 0.3);
}
.sorting__link--dec,
.sorting__link--ink {
  border: 5px solid transparent;
  width: 10px;
  height: 10px;
  overflow: hidden;
}
.sorting__link--dec {
  border-bottom: 0;
  border-top: 10px solid #000;
  margin-right: 20px;
}
.sorting__link--ink {
  border-top: 0;
  border-bottom: 10px solid #000;
}
.sorting__link:hover,
.sorting__link:focus {
  opacity: 0.6;
}
.sorting__link:active {
  opacity: 1;
}
.sorting__link--active {
  color: #000;
  border-top-color: #000;
  border-bottom-color: #000;
  opacity: 1;
}
.sorting__link--active:hover,
.sorting__link--active:focus,
.sorting__link--active:active {
  opacity: 1;
}
.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 25px;
}
.products__product-card {
  margin-bottom: 35px;
}
.product-card {
  position: relative;
  width: 360px;
  height: 616px;
  padding-top: 40px;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #666;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.product-card:hover::before {
  background-color: #4d4d4d;
}
.product-card:hover .product-card__info {
  transform: translateY(0);
  transition: transform 0.2s;
}
.product-card:hover .product-card__preview {
  border-top-color: #4d4d4d;
}
.product-card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 40px;
  background-color: #e9e9e9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.product-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 16px;
  background-color: #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  box-shadow: 23px 0 0 0 #fff, 46px 0 0 0 #fff;
}
.product-card__preview {
  max-width: 100%;
  display: block;
  border: 1px solid #e9e9e9;
}
.product-card__info {
  width: 100%;
  min-height: 231px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
  margin: 0;
  padding: 43px 80px;
  padding-top: 26px;
  transform: translateY(100%);
  transition: transform 0.2s;
}
.product-card__title {
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.product-card__title:hover,
.product-card__title:focus {
  opacity: 0.6;
}
.product-card__title:active {
  opacity: 0.3;
}
.product-card__description {
  margin-bottom: 30px;
}
.product-card__btn:hover {
  font-size: 0;
}
.product-card__btn:hover::before {
  content: "В корзину";
  font-size: 16px;
}
.paginator {
  display: flex;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 60px;
}
.paginator__page-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}
.paginator__btn-page {
  min-width: 50px;
  margin-right: 11px;
  padding: 0;
}
.paginator__btn-page--active,
.paginator__btn-page--active:hover,
.paginator__btn-page--active:focus,
.paginator__btn-page--active:active {
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
  color: #000;
}
.paginator__btn {
  min-width: 260px;
}

/*# sourceMappingURL=style.css.map */